*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;
  box-shadow: 0px -1px 8px black;
}
.design{
  background: white;
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
  border-radius: 4px;
}
.navbar{
  padding: 4px 4px;
}

.footer{
  margin: 2px;
  padding: 0px 4px ;
  justify-content: space-around;
  
}
.btn:focus {
  box-shadow: none;
}
.btn:hover{
  background: #0dcaf0;
  color:  white;
  border: 1px solid #0dcaf0;
}
.amount{
  text-align: center;
  cursor: default;
  
}
.add{
  height: 38px;
  margin-top: 31px;
}
.btn{
  height: 38px;
}